.form-container {
    font-family: 'Roboto', sans-serif;
    background: #000;
    color: #FFF;
    border-radius: 47px;
    border: 3px solid #FFF;
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#registration-form input {
    width: 100%;
    padding: 10px;
    border: 2px solid #FFF;
    margin-bottom: 5px;
    background: white;
    color: #000;
    border-radius: 15px;
}
#registration-form button {
    width: 100%;
    padding: 10px;
    border: 2px solid #FFF;
    border-radius: 15px;
    margin-top: 10px;
    background: white;
    color: #000;
}
#registration-form button:hover {
    background: #000;
    color: #FFF;
}
h1 {
    color: #FFF;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}
.form-container a {
    color: white;
}
.form-container a:hover {
    color: darkred;
}